
#menu-toggle i {
    font-size: 28px;
    margin-right: 20px;
    padding: 10px;
}

.header__inner span {
    font-size: 25px;
    font-weight: bold;
    color: blue;
}

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}