body {
    background-color: #f0f0f0;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-weight: bold;
    padding: 0 10px;
    font-size: 18px;
}

.card-text {
    font-size: 0.9rem;
    color: #666;
    padding: 0 10px;
}

.badge {
    font-size: 0.8rem;
    margin-right: 5px;
}

.btn-detail {
    display: block;
    margin-top: 10px;
    text-align: center;
}

.card {
    border: none;
    width: 100%;
    max-width: 400px;
    /* 横幅を広げる */
    margin: 3px auto;
    background-color: white;
    border-radius: 10px;
    height: 350px;
}

.shadow-custom {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.col {
    flex: 1 1 auto;
    /* 幅が自動調整されるように変更 */
    max-width: 400px;
    /* 最大幅を設定 */
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .col {
        flex: 1 1 100%;
        /* スマホサイズでは1列にする */
        max-width: 100%;
        /* スマホでも最大幅に設定 */
    }
}