body {
    background-color: #f0f0f0;
}

#searchForm {
    position: absolute;
    top: 15px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    width: auto;
}

#searchForm .form-control {
    width: auto;
    max-width: 150px;
    padding: 10px;
    border-radius: 5px;
    border: gainsboro;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    color: #666;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    font-weight: bold;
    padding: 0 20px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0;
}

.card-text {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #666;
    padding: 0 20px;
    flex-wrap: wrap;
    gap: 5px;
}

.badge {
    font-size: 0.8rem;
    margin-right: 5px;
}

.btn-detail {
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;
    padding: 8px 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-detail:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.card {
    border: none;
    width: 100%;
    max-width: 400px;
    margin: 3px auto;
    background-color: white;
    border-radius: 10px;
    height: 340px;
    position: relative;
}

.shadow-custom {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.col {
    flex: 1 1 auto;
    max-width: 400px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .col {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.btn-favorite {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: transparent;
    border: none;
    color: #e74c3c;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btn-favorite:hover {
    transform: scale(1.2);
}

.btn-favorite i {
    margin: 0;
}