.login {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: white;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin-top: 150px;
}

.login-title {
    width: 100%;
    background-color: #007bff;
    text-align: center;
    color: white;
    padding: 5px 0;
    margin: 0;
    border-radius: 8px 8px 0 0;
}

.login-title {
    margin: 0;
    font-size: 14px;
}

.login-form {
    padding: 30px 20px;
}

.login-form .form-group {
    margin-bottom: 70px;
    position: relative;
    display: block;
}


.login-form label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: black;
    margin-bottom: 5px;
}

.login-form i {
    margin-right: 10px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
    background-color: transparent;
    outline: none;
}

.login-form .form-group::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background-color: black;
}

.login-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.login-button button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-size: 14px;
    position: absolute;
    bottom: -55px;
    left: 0;
}