body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.login {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin-top: 150px;
}

.login-title {
    width: 100%;
    background-color: #007bff;
    text-align: center;
    color: white;
    padding: 5px 0;
    margin: 0;
    border-radius: 8px 8px 0 0;
}

.login-title {
    margin: 0;
    font-size: 14px;
}

.login-form {
    padding: 30px 20px;
}

.login-form .form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.login-form label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 14px;
    color: black;
}

.login-form i {
    margin-right: 10px;
}

.login-form input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    font-size: 14px;
    background-color: transparent;
}

.login-form .form-group::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: black;
}

.login-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.login-button button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button button:hover {
    background-color: #0056b3;
}