.thanks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.thanks-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.thanks-box h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
}

.login-button {
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.login-button:hover {
    background-color: #2980b9;
}